.inline {
    display: inline-block;
}

.center, .center-h {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.center-h-v {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}