.inline {
    display: inline-block;
}

.center, .center-h {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.center-h-v {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.justify-space-between {
    justify-content: space-between;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}