{{range .Files}}
# {{.Name}}
{{.Description}}

{{if .HasMessages}}
## Messages
{{range .Messages}}
### {{.LongName}}
{{.Description}}

{{if .HasFields}}
| Field | Type | Label | Description |
| ----- | ---- | ----- | ----------- |
{{range .Fields -}}
  | {{.Name}} | {{.LongType}} | {{.Label}} | {{if (index .Options "deprecated"|default false)}}**Deprecated.** {{end}}{{nobr .Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}} |
{{end}}
{{end}}
{{end}}
{{end}} <!-- end of messages -->

{{if .HasEnums}}
## Enums
{{range .Enums}}
### {{.LongName}}
{{.Description}}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{range .Values -}}
  | {{.Name}} | {{.Number}} | {{nobr .Description}} |
{{end}}

{{end}}
{{end}} <!-- end of enums -->

{{end}} <!-- end of files -->